<!DOCTYPE html>
<html lang="fr"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/login}" method="get">       
        <label for="username">Usernacdfdfme</label>
        <input type="text" id="username" name="usename" value="adil"/>  4
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" value="adil" />  5
    </p>
    <button type="submit" class="btn">Log in</button>
</form>
</body>
</html>